body {
	font-family: "Roboto Mono", monospace;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: "Anton", sans-serif;
	text-transform: uppercase;
}

.title {
	font-size: 150px;
}
/*
.button {
}

.text {

} */

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container {
	max-width: 1440px;
	width: 100%;
	padding: 0 36px;
	margin: 0 auto;
}
.header {
	min-height: 144px;
	z-index: 2;
}
.menu {
}
.menu__list {
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 33px;
	min-height: 144px;
}
.menu__item {
}
.menu__link {
	vertical-align: baseline;
}
.section {
	padding-bottom: 150px;
}
.welcome-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* background-color: #000; */
	color: #FFF;
	margin-bottom: 150px;
	position: relative;
	overflow: hidden;
}
.welcome-section__vid {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* transform: translate(-50%, -50%); */
	z-index: -1;
	pointer-events: none;	

	/* position: absolute; */
    right: 0;
    bottom: 0;
    z-index: -1;
}

.welcome-section__container {
	flex-grow: 1;
	display: flex;
	align-items: center;
	max-width: 1750px;
	padding: 0 60px;
	box-sizing: content-box;
	position: relative;
	z-index: 2;
}
.welcome-section::before {
	content: '';
	position: absolute;
	bottom: 85px;
	right: 85px;
	width: 20px;
	height: 209px;
	background-image: url("../img/arrow.svg");
	z-index: 2;
}
.welcome-section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	/* Adjust the opacity as needed */
	z-index: 1;	
}
.welcome-section__inner {
}
.welcome-section__title {
	line-height: 270px;
	vertical-align: middle;
	font-size: 288px;
	margin-bottom: 28px;
}
@media (max-width: 1200px) {
	.welcome-section__title {
		font-size: calc(80px + (180 - 80) * ((100vw - 320px) / (1070 - 320)));
	}	
}
/* @media (max-width: 968px) {
	.welcome-section__title {
		font-size: 180px;
	}	
} */
.welcome-section__text {
	max-width: 950px;
	margin-bottom: 22px;
}
@media (max-width: 1200px) {
	.welcome-section__text {
		max-width: 800px;
		font-size: 16px;
	}	
}
.button {
	padding: 20px 35px;
	font-family: "Anton", sans-serif;
	text-transform: uppercase;
	line-height: 26px;
	font-size: 30px;
}
.button_outline {
	background: transparent;
	border: 3px solid #000;
	/* box-sizing: border-box; */
	display: block;
}
.button_black {
	background-color: #010509;
	color: #FFF;
}
.welcome-section__button {
	border-color: #FFF;
	color: #FFF;
}

.about-me-section {
	margin-bottom: 150px;
}
.about-me__container {
}
.about-me__inner {
	display: flex;
}
.about-me__text-wrapper {
	padding-right: 35px;
	flex: 1;
}

.about-me__title {
}
.about-me__text {
	font-size: 22px;
	line-height: auto;
	margin-bottom: 12px; /* Dont forget to adjust margin, if indeed */
}

.about-me__img {
}

.about-me__img img {
	display: block;
}

.projects {
	margin-bottom: 150px;
}
.projects__container {
	/* box-sizing: content-box; */
}
.title {
}
.projects__title {
	text-align: center;
	margin-bottom: 58px;
}
.projects__inner {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 460px));
    gap: 20px;
    justify-content: center; /* Centers the grid items */
}
@media (max-width: 1200px) {
	.projects__inner {
		grid-template-columns: repeat(2, minmax(min-content, 460px));		
	}	
}
@media (max-width: 718px) {
	.projects__inner {
		grid-template-columns: repeat(1, minmax(min-content, 460px));		
	}	
}

.projects__item {
	/* flex-basis: 33.333%; */

}
.projects-card {
	border: 1.5px solid #D9D9D9;
	box-sizing: border-box;
}
.projects-card__body {
	padding: 0 22px 34px 22px;
}
.projects-card__img {
	height: 282px;
	background-color: #adadad;
}
.projects-card__title {
	font-weight: 700;
	margin-bottom: 24px;
}
.projects-card__text {
	margin-bottom: 17px;
}
.projects-card__buttons {
	display: flex;
	gap: 15px;
}

@media (max-width: 1200px) {
	.projects-card__buttons button {
		font-size: 22px;
		line-height: 18px;
	}	
}

.contact-me {
}
.contact-me__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-me__title {
	text-align: center;
	line-height: 129px;
	margin-bottom: 32px;
}

.contact-me__text {
	text-align: center;
	max-width: 1164px;
	font-size: 22px;
	margin-bottom: 25px;
}
.contact-me__buttons {
	display: flex;
	gap: 49px;
}
.footer {
	border-top: 1px solid #000;
}
.footer__container {
	max-width: 1750px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__copyright {
	font-size: 18px;
}
.menu {
}
.footer__menu {
}