body {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
}

/* .title {

}
.text {

} */

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 36px;
    margin: 0 auto;
}
.header {
    min-height: 144px;
}
.menu {
}
.menu__list {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 33px;
    min-height: 144px;
}
.menu__item {
}
.menu__link {
    vertical-align: baseline;
}
.section {
}
.welcome-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #FFF;
    margin-bottom: 150px;
}

.welcome-section__container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: 1750px;
    padding: 0 60px;
    box-sizing: content-box;
    position: relative;
}
.welcome-section::after {
    content: '';
    position: absolute;
    bottom: 85px;
    right: 85px;
    width: 20px;
    height: 209px;
    background-image: url("../img/arrow.svg");

}
.welcome-section__inner {
}
.welcome-section__title {
    line-height: 270px;
    vertical-align: middle;
    font-size: 288px;
    margin-bottom: 28px;
}
.welcome-section__text {
    max-width: 950px;
    margin-bottom: 22px;
}
.button {
    padding: 20px 35px;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    line-height: 26px;
    font-size: 30px;
}
.button_outline {
    background: transparent;
    border: 3px solid #000;

}
.welcome-section__button {
    border-color: #FFF;
    color: #FFF;
}

.about-me-section {
    margin-bottom: 150px;
}
.about-me__container {
}
.about-me__inner {
    display: flex;
}
.about-me__text-wrapper {
    padding-right: 35px;
}

.about-me__title {
    font-size: 150px;
}
.about-me__text {
    font-size: 22px;
    line-height: auto;
    margin-bottom: 12px; /* Dont forget to adjust margin, if indeed */
}

.about-me__img {
}

.about-me__img img {
    display: block;
}